html{
	background-color:#FFF5EE !important;
	margin: 0 0 0 0;
	
	
}
body{
	font-size:10px;
	margin: 0 0 0 0;
	
	
}

#pointss{
	border:none;
	font-size:medium;
	color:white;
	display: inline-block;	
}

#navbar {
	display:inline-block;
	text-align: center;
	width:20rem;
	height: 2rem;
	background: #F88158;
	
	
}

#navbar ul {
	margin: 0;
	padding: 0;
	float: none;
	list-style-type: none;
}

#navbar li {
	padding: 0 2rem  0 0;
	float: right;
	border-right: 0.1rem solid white;
	
}
#navbar ul li:first-child { 
	border-right: none;
}

a:hover{background-color: #C04000;}


#navbar ul li a:link, #navbar ul li a:active, #navbar ul li a:visited {
	
	padding: 0.3rem;
	line-height: 1.8rem;
	color: white;
	text-decoration: none;
}
#secondbar{
	display:inline-block;
	text-align: center;
	width:20rem;
	height:2rem;
	background: #F88158;
	
}
#secondbar ol{
	
	margin: 0;
	padding: 0;
	float: none;
	list-style-type: none;
}
#secondbar ol li{
	padding: 0.2rem 0.25rem 0 0.4rem;
	float: right;
	border-right: 0.1rem solid white;
	line-height: 1.8rem;
	color: white;
	text-decoration: none;
}
#secondbar ol li:first-child { 
	border-right: none;
}

.mod{
	margin-left:2rem;
}

#total{
	display:inline-block;
	height: 0.1rem;
}
#totalSum{
	border:none;
	margin-top:0.2rem;
	width:2.5rem;
	height: 1rem;
}
#start{
	margin-left:0.1rem;	
	border-style:outset;
}
#Save{
	margin-top:4rem;
}
#ui-datepicker-div{
	margin: 0rem 10rem 6rem 6.2rem;
	background-color:#888888;
}
/* Content */


/* Headers (Date, Location, Message, Hour1, Hour2 ) */

#headers{
	text-align: left; 
	font-size: 1rem;
	margin: 3rem 1rem 1rem 1rem;
}

.headerNames{
	width:5rem; 
	display:inline-block;
	border: 1px solid #FFCC99;
	font-weight: bold;
	color: #993300;
	text-align:center;
}

/* Event list */

#listItems{ 
	list-style-type: none;
	text-align: left; 
	overflow: scroll;
	height: 27rem;
	font-weight: bold;
}

#incomeDate{
	margin-left:2rem;
}

.row{
	display:inline-block;
	margin: 0 0.5rem 0.5rem 0;
	font-size: 0.8rem;
	width:4rem;;
}
.filterButton{
	margin-top:0.2rem;
	border-style:outset;
	width:2rem;
	font-size:small;
	float:center;
}
.menut{
	background-color:#22b573;
	margin:2rem solid black;
	height:3rem;
	width: 100%;
	text-align:center;
	display:inline-block;
	
}
.menut ul{
	margin-left:2rem;
	

	
}
.contain{

	display:inline-block;
	margin-top: -1rem;
margin-left: -5rem;
margin-right: 5rem;
}
.tab-links:after{
	 display:block;
        clear:both;
        content:'';
	
}
 .tab-links li {
 	text-align:center;
  float: left;
list-style: none outside none;
height: 1rem;
margin-left: 0rem;
margin-right: 0rem;
padding: 0rem 0rem 1rem 1rem;
display: inline;
margin-bottom: -1rem;
  }
 
        .tab-links a {
           /* padding:9px 15px;*/
           display:inline-block;
          
           
           
            font-weight:600;
            color:white;
            
            transition:all linear 0.15s;
        }
 
        .tab-links :hover {
            background:orange;
            text-decoration:none;
        }
 
