#body{
	background-color:#FFEBD6;
	font-size:10px;
	

padding: 0;
border: 0;
margin: 0;
}

.contain{

	display:inline-block;
	margin-top: -1rem;
margin-left: -5rem;
margin-right: 5rem;
	
}
.tab-links:after{
	 display:block;
        clear:both;
        content:'';
	
}
 .tab-links li {
      text-align: center;
    float: left;
    list-style: none outside none;
    height: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 0rem 0rem 1rem 1rem;
    display: inline;
    margin-bottom: -1rem;
  }
 
        .tab-links a {
           /* padding:9px 15px;*/
           display:inline-block;
          
           
           
            font-weight:600;
            color:white;
            
            transition:all linear 0.15s;
        }
 
        .tab-links :hover {
            background:orange;
            text-decoration:none;
        }
 

#bar{
	margin:3px solid black;
	max-width:100%;	
}

.activetab{
	background-color:orange;
	
}

.inputs{
	margin:auto;
	display:inline;
	position:absolute;
    left: 45%;
  
}
 
.img {

text-align: center;
margin: 0 auto
vertical-align: middle;
top:500; 

}
img{
	height:2rem;
	width:2rem;
}

li a:hover{
	color:#566D7E;
	
}
#ok{
	display:block;
	
	margin-left:49%;
	margin-right:20%;

		
}


.col-md-4{
	padding:5rem;
	display: inline-block;
}

ul
{
    list-style-type: none;
}
#menu{
	background-color:#af543e;
	text:white;
	
}



button[type=submit]{
	background-color: #AF543E;
width: 4rem;
height: 0rem;
margin: 0px;
padding-top: 0rem;
padding-bottom: 1rem;
margin-left: 13rem;

margin-top: 1rem;
}

#totaldiv{
	background-color:#1f262c;
	 width: 0rem;
	 height:4rem;
 	
 	 padding-top:1rem;
 	 padding-bottom:1rem;
	
}
input[type=text]{
	border:0px solid white;
	border-bottom:1px solid #1f262c;
}
#total{
	background-color:#1f262c;
	width:3rem;
	height:2rem;
}
#btotal{
	display: inline;
}


#pageSelect {
    display: inline-block;
    height: 2rem;
  }

input[id=score_val]{
	background-color:#1f262c;
	color:white;
	width:4 rem;
	
}
.menut{
background-color: #22B573;
height: 3rem;
width: 100%;
text-align: center;
display: inline-block;
	
	

	
}
.color{
	background-color:#FFEBD6;
}
.white{
	background-color:white;
}
.white input{
	background-color:white;
	border:none;
	border-bottom:1px solid #1F262C;
}
.color input{
	background-color: #FFEBD6;
	border:none;
	border-bottom:1px solid #1F262C;
}
ul li{
	height:1rem;
	
	
}
ul li i{
	padding-right:0rem;
	padding-left:0rem;
	height:0rem;
	
}
.dollar{
	background-image:url('http://cdn2.bigcommerce.com/server700/70a5c/product_images/uploaded_images/dollar-sign.png');
}

#alert_msg{
	background-color:#ea4b12;
	height:10rem;
	width:40rem;
	
	/*margin-top:-8em;*/
	padding:0em;
}
input[class=billspaid]{
	border:none;
	width:2em;
}
input[id=score_val]{
	background-color:#1f262c;
	color:white;
	width:3em;
	
}
h3{
	padding-left:1rem;
}
#dollar{
	
	padding-top:-1rem;
}

.green{
	color:green;
}
.fa-2x {
    font-size: 2rem;
}

li{
	display: inline-block;
}
li i{
	height:1rem;
	widht:0rem;
}
li img{
	width:2rem;
}
#allFields li input{
	height: 2rem;
width: 6rem;
margin-right: 0rem;
margin-left: 0rem;
display: inline-block;
	
	
}
#field3{
	background-color:#FFEBD6;
	margin: none;
}
#field tr td{
	height:1rem;
	width:2rem;
}
section{
	padding-left:1rem;
	padding-top:1rem;
}
.dynamicTable {
	height:3rem;
	width:4rem;

	border:0.5rem solid black;
}
.database{
	margin-left:1rem;
	width:2rem;
}
#listRow {
	display:inline-block;
}
.scoreClothes{
	background-color:#FFEBD6;
	width:1rem;
	border:none;
}
.scoreboard li{
	margin-left: -3rem;
margin-right: 3rem;
}
.scoreboard{
	margin-left:1rem;
}
.databaseList1{
	display: inline-block;
	font-size:1rem;
}
#listRow{
    display: block;
    text-align: left;
    color: #FFF;
    text-transform: capitalize;
    font-weight: 400;
    font-family: "Helvetica";
    font-size: 1rem;
    line-height: 2rem;
    }
.col-md-2{
	display:inline-block;
}

.databaseList2{
	margin-left:3rem;
}

.databaseList2 img{
height: 3rem;
width: 3rem;
}

#DatabaseList{
	
	background-color:#FFA500;; 
	visibility: hidden;
	text-align: center;
}
#nameD{
	    margin-left: 1rem;
    width: calc(50% - 1rem - 1px);
    border-right: 1px solid #FFF;
}
#priceD{
	text-align: right;
margin-right: 1rem;
width: calc(50% - 1rem);
}
#priceD::after{
	content:' $';
}
#myChart{
	margin-top:0rem;
}
input[id=scoreDisplay]{
	background-color:#1f262c;
	color:white;
	width:2em;
	
}
#submit{
border-radius: 16%;
	background-color:#00ADAD;
	padding:0.5rem;
	margin-right: 2rem;
margin-left: 3rem;
	
}
#remove{
border-radius: 16%;
	background-color:#EA4B12;
	padding:0.5rem;
}
