#body{
	background-color:#FFEBD6;
	font-size:10px;
	

padding: 0;
border: 0;
margin: 0;
}

.contain{

	display:inline-block;
	margin-top: -1rem;
margin-left: -5rem;
margin-right: 5rem;
	
}
.tab-links:after{
	 display:block;
        clear:both;
        content:'';
	
}
 .tab-links li {
  float: left;
list-style: none outside none;
height: 1rem;
margin-left: 0rem;
margin-right: 0rem;
padding: 0rem 1rem 1rem 1rem;
display: inline;
margin-bottom: -1rem;
  }
 
        .tab-links a {
           /* padding:9px 15px;*/
           display:inline-block;
          
           
           
            font-weight:600;
            color:white;
            
            transition:all linear 0.15s;
        }
 
        .tab-links :hover {
            background:orange;
            text-decoration:none;
        }
 

#bar{
	margin:3px solid black;
	max-width:100%;	
}

.activetab{
	background-color:orange;
	
}

.inputs{
	margin:auto;
	display:inline;
	position:absolute;
    left: 45%;
  
}
 
.img {

text-align: center;
margin: 0 auto
vertical-align: middle;
top:500; 

}
img{
	height:2rem;
	width:2rem;
}

li a:hover{
	color:#566D7E;
	
}
#ok{
	display:block;
	
	margin-left:49%;
	margin-right:20%;

		
}


.col-md-4{
	padding:5rem;
	display: inline-block;
}

ul
{
    list-style-type: none;
}
#menu{
	background-color:#af543e;
	text:white;
	
}



button[type=submit]{
	background-color: #AF543E;
width: 4rem;
height: 0rem;
margin: 0px;
padding-top: 0rem;
padding-bottom: 1rem;
margin-left: 13rem;

margin-top: 1rem;
}

#totaldiv{
	background-color:#1f262c;
	 width: 0rem;
	 height:4rem;
 	
 	 padding-top:1rem;
 	 padding-bottom:1rem;
	
}
input[type=text]{
	border:0px solid white;
	border-bottom:1px solid #1f262c;
}
#total{
	background-color:#1f262c;
	width:3rem;
	height:2rem;
}
#btotal{
	display: inline;
}
.topMenu {
	background-color: #999999;
}

/*Top Menu*/
#topMenuBar {
width: 100%;
height: 2.5rem;
background-color: #1f262c;
text-align: center;
}
div {
display: block;
}



#caracterIcon {
width: 2.5rem;
height: 2.5rem;
display: inline;
margin-left: 0.2rem;
margin-right: 0.5rem;
background-color: #1f262c;
}

#caracterIcon > img {
width: 2.5rem;
height: 2.5rem;
display: inherit;
vertical-align: middle;
background-color: #1f262c;
}

#userName {
width: 15rem;
height: 2.5rem;
display: inline;	
margin-right:0.2rem;
background-color: #1f262c;
}

#userName > h1 {
font-size: 0.9rem;
display: inherit;
color: #ffffff;
-moz-user-select: none;
}

#score {
width: 5rem;
height: 7rem;
display: inline;
}

#score > h1 {
font-size:1rem;
display: inherit;
color: #ffffff;
-moz-user-select: none;
}

#scoreIcon {
width: 2.5rem;
height: 5rem;
display: inline;
background-color: #1f262c;
}

#scoreIcon > i {
width: 2rem;
height: 5rem;
color: #ffffff;
display:inherit;
}

#pageSelect {
display:inline;
width: auto;
height:7rem;
padding: 0.1rem;
text-align: center;
line-height:3rem;
}

#life {
width:2.5rem;
height:2.5rem;
display: inherit;
}

#life > i {
width:2rem;
height:2rem;
background-color: #1f262c;
display: inline;
}

#life:active {
color: #af543e;
}

#health {
width:2rem;
height:2rem;
display: inherit;
}

#health > i{
width:2rem;
height:2rem;
background-color: #1f262c;
display: inline;
}

#health:active {
color: #af543e;
}

#range {
width:2rem;
height:2rem;
display: inherit;
}

#range > i{
width:2rem;
height:2rem;
background-color: #1f262c;
display: inline;
}

#range:active {
color: #af543e;
}

#bills {
width:2rem;
height:2rem;
display: inherit;
}

#bills > i {
width:2rem;
height:2rem;
background-color: #1f262c;
display: inline;
}

#bills:active {
color: #af543e;
}

#scoreWrapper {
float:right;
display:inline;
width:auto;
position:relative;
top: 0.5rem;
margin-left:0.1rem;

}

#logoWrapper {
display:inline;
float:left;
}

a:visited {
color: #FFFFFF;
text-decoration: none;
}

a:link {
color:#FFFFFF;
text-decoration: none;
}

input[id=score_val]{
	background-color:#1f262c;
	color:white;
	width:4 rem;
	
}
.menut{
	background-color:#af543e;
	margin:2rem solid black;
	height:3rem;
	
	display:inline-block;
	
	
	

	
}
.color{
	background-color:#FFEBD6;
}
.white{
	background-color:white;
}
.white input{
	background-color:white;
	border:none;
	border-bottom:1px solid #1F262C;
}
.color input{
	background-color: #FFEBD6;
	border:none;
	border-bottom:1px solid #1F262C;
}
ul li{
	height:1rem;
	
	
}
ul li i{
	padding-right:0rem;
	padding-left:0rem;
	height:0rem;
	
}
.dollar{
	background-image:url('http://cdn2.bigcommerce.com/server700/70a5c/product_images/uploaded_images/dollar-sign.png');
}

#alert_msg{
	background-color:#ea4b12;
	height:10rem;
	width:40rem;
	
	/*margin-top:-8em;*/
	padding:0em;
}
input[class=billspaid]{
	border:none;
	width:2em;
}
input[id=score_val]{
	background-color:#1f262c;
	color:white;
	width:3em;
	
}
h3{
	padding-left:1rem;
}
#dollar{
	
	padding-top:-1rem;
}

.green{
	color:green;
}
.fa-2x {
    font-size: 2rem;
}
ul{
	
	margin-left:2rem;
}
li{
	display: inline-block;
}
li i{
	height:1rem;
	widht:0rem;
}
li img{
	width:2rem;
}
#allFields li input{
	height: 2rem;
width: 6rem;
margin-right: 0rem;
margin-left: 0rem;
display: inline-block;
	
	
}
#field3{
	background-color:#FFEBD6;
	margin: none;
}
#field tr td{
	height:1rem;
	width:2rem;
}
section{
	padding-left:1rem;
	padding-top:1rem;
}
.dynamicTable {
	height:3rem;
	width:4rem;

	border:0.5rem solid black;
}
.database{
	margin-left:1rem;
	width:2rem;
}
#listRow {
	display:inline-block;
}
.scoreClothes{
	background-color:#FFEBD6;
	width:1rem;
	border:none;
}
.scoreboard li{
	margin-left: -3rem;
margin-right: 3rem;
}
.scoreboard{
	margin-left:1rem;
}
.databaseList1{
	display: inline-block;
	font-size:1rem;
}
#listRow{
	display:block;
}
.col-md-2{
	display:inline-block;
}

.databaseList2{
	margin-left:3rem;
}

.databaseList2 img{
height: 3rem;
width: 3rem;
}

#DatabaseList{
	
	background-color:#F97C17; 
}
#nameD{
	width:50%;
	text-align:center;
}
#priceD{
	width:50%;
	text-align: center;
}
#myChart{
	margin-top:0rem;
}
input[id=scoreDisplay]{
	background-color:#1f262c;
	color:white;
	width:2em;
	
}
#submit{
	border-radius:50%;
	background-color:#00ADAD;
	padding:1rem;
}
#remove{
	border-radius:50%;
	background-color:#EA4B12;
	padding:1rem;
}
