#DatabaseList{
	
	background-color:grey; 
	-moz-border-radius: 15px;
  	-webkit-border-radius: 10px;
  	border-radius: 25px;
}


#plus{
	
	color:black;
	
}
.class2{
	
	background-color:red;
}


#lista {
	border:4px dotted #af543e;	
	width:3rem;
	text-align:center;
	color:#22b573;
	text:strong;
	 -moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	border-radius: 10px;
  	 
	
	
}

#submit{
	
	font-family: arial;
  color: white !important;
  font-size: 14px;
  padding: 3px 9px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid black;
  background: #af543e;
}


#maxfood{
	display:inline-block;
	width:2rem;
	border:none;
	color:black;
	background-color:#FFEBD6;
	padding-right:3rem;
	padding-left:-2rem;
	text-align:left;
	
}


#scoreval{
	
	width:2rem;
	height:1rem;
	
}



#star{
	margin-right:-3rem;
}

ul .bar{
	width:19rem;
	height:3rem;
	display:table;
}

.contain{

	display:inline-block;
	margin-top:0rem;
	
}



.tab-links:after{
	 display:block;
        clear:both;
        content:'';
        padding-top:-1rem;
	
}
 .tab-links li {
    list-style: none outside none;
    height: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 0rem 0rem 1rem 1rem;
    display: inline;
    margin-bottom: -1rem;
}
 
        .tab-links a {
           /* padding:9px 15px;*/
           display:inline-block;
          
           
           
            font-weight:600;
            color:white;
            
            transition:all linear 0.15s;
        }
 
        .tab-links :hover {
            background:orange;
            text-decoration:none;
        }
 

#bar{
	margin:3px solid black;
	width:100%;	
}

.activetab{
	background-color:orange;
	
}


li a:hover{
	color:#566D7E;
	
}

ul
{
    list-style-type: none;
}
#menu{
	background-color:#af543e;
	text:white;
	
}

.menut{
	background-color:#22b573;
	margin-left:-1rem;
	margin-right:2rem;
	height:3rem;
	width:110%;
	display:inline-block;	

	
}

.round {
	border:0;
    border-bottom:solid 1px #000;
    outline:none;
    background-color:#FFEBD6;

}


.button {
	
   font-family: arial;
  color: white !important;
  font-size: 14px;
  padding: 3px 9px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid black;
  background: #af543e;
  
}
.button:hover {
  color: #14396A !important;
  background: orange;
  
}


input:'radio'{
	padding-left: 100px;
}
body {
	background-color:#FFEBD6;
}


#fa{
	color:white;
}

#logo{
	width:80px;
	height:80px;
	
}

.score{
	background-color:#1f262c;
	color: #ffffff;
	height:90px;
	width:800px;
	
	margin-left:300px;
	padding-right:100px; 
	
}

#b2{
	background-color:#af543e;
}

#color{
	background-color: #af373e;
}

li {
	text-align:center;
   }
   


input[id=scoreval]{
	background-color:#1F262C;
	color:white;
	width:2rem;
	border:none;
	font-size:1rem;
	
}
input[type=radio]{
	border-radius:30px;
	color:blue;
}

