html {
  font-size: 10px;
  font-family: "sans";
}

body {
  background-color: #fffbd6; 
  padding: 0;
  border: 0;
  margin: 0;
}

/*Top Menu*/
#topMenuBar {
  width: 100%;
  height: 3rem;
  background-color: #1f262c;
  text-align: center;
}

#caracterIcon {
  width: 3rem;
  height: 3rem;
  display: inline;
  background-color: #1f262c;
}

#caracterIcon > img {
  width: 3rem;
  height: 3rem;
  display: inherit;
  vertical-align: middle;
  background-color: #1f262c;
}

#userName {
  width: 15rem;
  height: 3rem;
  display: inline;  
  background-color: #1f262c;
}


#userName > h1 {
    -moz-user-select: none;
    color: #ffffff;
    display: inherit;
    font-family: "sans";
    font-size: 1.6rem;
    position: relative;
    top: 3px;
}

#score {
  width: 5rem;
  height: 7rem;
  display: inline;
}


#score > h1 {
    -moz-user-select: none;
    color: #ffffff;
    display: inherit;
    font-size: 1.6rem;
    line-height: 2rem;
}

#scoreIcon {
  width: 3rem;
  height: 5rem;
  display: inline;
  background-color: #1f262c;
}

#scoreIcon > i {
    color: #ffffff;
    display: inherit;
    float: right;
    width: 2rem;
}

#pageSelect {
    display: inline-block;
    line-height: 3.5rem;
    margin-left: -5rem;
    padding: 0.1rem;
    width: auto;
}


#pageSelect div {
    padding: 0 3px;
    width:2rem;
  height:2rem;
  display: inherit;
}


#life > i {
  width:2rem;
  height:2rem;
  background-color: #1f262c;
  display: inline;
  line-height: 2rem;
}

#life:active {
  color: #af543e;
}

#health > i{
  width:2rem;
  height:2rem;
  background-color: #1f262c;
  display: inline;
  line-height: 2rem;
}

#health:active {
  color: #af543e;
}

#range > i{
  width:2rem;
  height:2rem;
  background-color: #1f262c;
  display: inline;
  line-height: 2rem;
}

#range:active {
  color: #af543e;
}

#bills > i {
  width:2rem;
  height:2rem;
  background-color: #1f262c;
  display: inline;
  line-height: 2rem;
}

#bills:active {
  color: #af543e;
}



#scoreWrapper {
    display: inline;
    float: right;
    margin-left: -5rem;
    position: relative;
    top: 0.5rem;
    width: 7rem;
}

#logoWrapper {
  display:inline;
  float:left;
}

/*Links*/

a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

a:link {
  color:#FFFFFF;
  text-decoration: none;
}