body{
	background-color: #FFF5EE;
	font-size:10px;
}

#container
{
	width:100%;
	
}


#logo{
	margin-top:3rem;
	text-align:center;
	
}

#logo img
{
	width:9rem;
	height:9rem;
}

#formLogIn{
	width:auto;
text-align: center;
margin-top: 4rem;
}

.inputform {
width: 11rem;
text-align: center;
background-color: #FFFFFF;
padding-bottom: 1%;
margin-bottom: 2%;
border-top:none;
border-left:none;
font-size: 100%;
border-spacing: 0;
}

form .inputform {
    background-color: #af543e;
    color: #fff;
    font-size: 2rem;
    height: 2rem;
    line-height: 2rem;
    width: 75%;
}

#LogIn {
    background-color: #af543e;
    border-style: none;
    border-width: medium;
    color: #ffffff;
    font-size: 1.5rem;
    height: 3rem;
    line-height: 2rem;
    margin-top: 1.5rem;
    text-align: center;
    width: 75%;
}