
body { 
	font-size:10px;
	padding: 0;
	border: 0;
	margin: 0;
}


.container{
	width: 100%;
	display:inline-block;
	
}
.tab-links:after{
	    display:block;
        clear:both;
        content:'';
	
}
 .tab-links li {
        list-style:none;
        height:2rem;
        margin-top:-1rem;
	margin-left:-3rem;
	padding-right:3rem;
        
}
 
.tab-links a {
           /* padding:9px 15px;*/
           display:inline-block;  
           font-weight:600;
           color:white;
           transition:all linear 0.15s;
}
 
.tab-links :hover {
           background:orange;
           text-decoration:none;
}
        
.activetab{
	background-color:orange;
	margin:2px solid black;
	height:2rem;
	/*width:100%;*/
	display:inline;
	padding-left:6rem;
	padding-right:8rem;
	padding-top:2rem;
	padding-bottom:2rem;
	color:white;
	
}

.menut {
	background-color:#af543e;
	margin:2rem solid black;
	height:2rem;
	
	display:inline-block;
	padding-left:1rem;
	padding-right:1rem;
	padding-top:1rem;
	padding-bottom:1rem;
	
	

	
}

.round {
	border:0;
    border-bottom:solid 1px #000;
    outline:none;
    background-color:#999999;

}


.button {
	
   font-family: arial;
  color: white !important;
  font-size: 14px;
  padding: 3px 9px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid black;
  background: #af543e;
  
}
.button:hover {
  color: #14396A !important;
  background: orange;
  
}


input:'radio'{
	padding-left: 100px;
}
body {
	background-color:#999999;
}


#fa{
	color:white;
	
}

#logo{
	width:80px;
	height:80px;
	
}

.score{
	background-color:#1f262c;
	color: #ffffff;
	height:90px;
	width:800px;
	
	margin-left:300px;
	padding-right:100px; 
	
}

#b2{
	background-color:#af543e;
}

#color{
	background-color: #af373e;
}

li {
	text-align:center;
   }
   
/*Top Menu*/
#topMenuBar {
	width: 100%;
	height: 2.5rem;
	background-color: #1f262c;
	text-align: center;
}

#caracterIcon {
	width: 2.5rem;
	height: 2.5rem;
	display: inline;
	margin-left: 0.2rem;
	margin-right: 0.5rem;
	background-color: #1f262c;
}

#caracterIcon > img {
	width: 2.5rem;
	height: 2.5rem;
	display: inherit;
	vertical-align: middle;
	background-color: #1f262c;
}

#userName {
	width: 15rem;
	height: 2.5rem;
	display: inline;	
	margin-right:0.2rem;
	background-color: #1f262c;
}

#userName > h1 {
	font-size: 1rem;
	display: inherit;
	color: #ffffff;
	-moz-user-select: none;
}

#score {
	width: 5rem;
	height: 7rem;
	display: inline;
}

#score > h1 {
	font-size:1rem;
	display: inherit;
	color: #ffffff;
	-moz-user-select: none;
}

#scoreIcon {
	width: 2.5rem;
	height: 5rem;
	display: inline;
	background-color: #1f262c;
}

#scoreIcon > i {
	width: 2rem;
	height: 5rem;
	color: #ffffff;
	display:inherit;
}

#pageSelect {
	display:inline;
	width: auto;
	height:7rem;
	padding: 0.1rem;
	text-align: center;
}

#life {
	width:2.5rem;
	height:2.5rem;
	display: inherit;
}

#life > i {
	width:2rem;
	height:2rem;
	background-color: #1f262c;
	display: inline;
}

#life:active {
	color: #af543e;
}

#health {
	width:2rem;
	height:2rem;
	display: inherit;
}

#health > i{
	width:2rem;
	height:2rem;
	background-color: #1f262c;
	display: inline;
}

#health:active {
	color: #af543e;
}

#range {
	width:2rem;
	height:2rem;
	display: inherit;
}

#range > i{
	width:2rem;
	height:2rem;
	background-color: #1f262c;
	display: inline;
}

#range:active {
	color: #af543e;
}

#bills {
	width:2rem;
	height:2rem;
	display: inherit;
}

#bills > i {
	width:2rem;
	height:2rem;
	background-color: #1f262c;
	display: inline;
}

#bills:active {
	color: #af543e;
}

#scoreWrapper {
	float:right;
	display:inline;
	width:auto;
	position:relative;
	top: 0.5rem;
}

#logoWrapper {
	display:inline;
	float:left;
}


a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

a:link {
	color:#FFFFFF;
	text-decoration: none;
}

input[id=scoreval]{
	background-color:#1F262C;
	color:white;
	width:4rem;
	border:none;
	margin-right:-3rem;
	
}
input[type=radio]{
	border-radius:30px;
	color:blue;
}

