html{
	background-color:#FFF5EE;
	border:none;
	
}
body{
	font-size:10px;
}
.topMenu {
		background-color: #999999;
}

#topMenuBorder {
	width: 19rem;
	height: 3.3rem;	
	border:none;
	background-color: #1f262c;
	display: inline-block;
	vertical-align:middle;
}

#caracterIcon {
	width: 2rem;
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align:middle;
}

#caracterIcon img {
	max-width: 1.9rem;
	max-height: 1.9rem;
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: center;
}

#userName {
	color: #ffffff;
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: center;
}

#scoreWrapper{
	border:none;
	float: right;
	display: inline-block;
	margin-top: 1.3rem;
	margin-right: 1rem;	
}


#scoreIcon {
	width:auto;
	margin: 0;
	padding: 0;
	display: inline-block;	
}

#scoreIcon img {
	max-width: 1.9rem;
	max-height: 1.9rem;
	margin: 0;
	color: #FFFFFF;
}

#scoreIcon i {
	color: #FFFFFF;
}

#pointss{
	border:none;
	font-size:medium;
	color:white;
	display: inline-block;
	
}

#navbar {
	display:inline-block;
	text-align: center;
	width:19rem;
	height: 1.6rem;
	background: #F88158;
	
}

#navbar ul {
	margin: 0;
	padding: 0;
	float: none;
	list-style-type: none;
}

#navbar li {
	padding: 0 2rem  0 0;
	float: right;
	border-right: 0.1rem solid white;
	
}
#navbar ul li:first-child { 
	border-right: none;
}

a:hover{background-color: #C04000;}


#navbar ul li a:link, #navbar ul li a:active, #navbar ul li a:visited {
	
	padding: 0.3rem;
	line-height: 1.4rem;
	color: white;
	text-decoration: none;
}
#secondbar{
	display:inline-block;
	text-align: center;
	width:19rem;
	height: 1.6rem;
	background: #F88158;
}
#secondbar ol{
	margin: 0;
	padding: 0;
	float: none;
	list-style-type: none;
}
#secondbar ol li{
	padding: 0 0.6rem 0 0;
	float: right;
	border-right: 0.1rem solid white;
	line-height: 1.4rem;
	color: white;
	text-decoration: none;
}
#secondbar ol li:first-child { 
	border-right: none;
}


.mod{
	margin-left:2rem;
	
}

#total{
	display:inline-block;
	height: 0.1rem;
}
#totalSum{
	border:none;
	margin-top:0.2rem;
	width:2rem;
	height: 1rem;

}
#start{
	margin-left:0.6rem;	
}
#Save{
	margin-top:4rem;
}
#ui-datepicker-div{
	margin: 0rem 12rem 7rem 7rem;
	background-color:#888888;
}

