#body{
	background-color:#FFEBD6;
	font-size:10px;
	

padding: 0;
border: 0;
margin: 0;
}

.contain{

	display:inline-block;
	margin-top: -1rem;
margin-left: -5rem;
margin-right: 5rem;
	
}
.tab-links:after{
	 display:block;
        clear:both;
        content:'';
	
}
 .tab-links li {
  float: left;
list-style: none outside none;
height: 1rem;
margin-left: 0rem;
margin-right: 0rem;
padding: 0rem 0rem 1rem 1rem;
display: inline;
margin-bottom: -1rem;
  }
 
        .tab-links a {
           /* padding:9px 15px;*/
           display:inline-block;
          
           
           
            font-weight:600;
            color:white;
            
            transition:all linear 0.15s;
        }
 
        .tab-links :hover {
            background:orange;
            text-decoration:none;
        }
 

#bar{
	margin:3px solid black;
	max-width:100%;	
}

.activetab{
	background-color:orange;
	
}

.inputs{
	margin:auto;
	display:inline;
	position:absolute;
    left: 45%;
  
}
 
.img {

text-align: center;
margin: 0 auto
vertical-align: middle;
top:500; 

}
img{
	height:2rem;
	width:2rem;
}

li a:hover{
	color:#566D7E;
	
}
#ok{
	display:block;
	
	margin-left:49%;
	margin-right:20%;

		
}


.col-md-4{
	padding:5rem;
	display: inline-block;
}

ul
{
    list-style-type: none;
}
#menu{
	background-color:#af543e;
	text:white;
	
}



button[type=submit]{
	background-color: #AF543E;
width: 4rem;
height: 0rem;
margin: 0px;
padding-top: 0rem;
padding-bottom: 1rem;
margin-left: 13rem;

margin-top: 1rem;
}

#totaldiv{
	background-color:#1f262c;
	 width: 0rem;
	 height:4rem;
 	
 	 padding-top:1rem;
 	 padding-bottom:1rem;
	
}
input[type=text]{
	border:0px solid white;
	border-bottom:1px solid #1f262c;
}
#total{
	background-color:#1f262c;
	width:3rem;
	height:2rem;
}
#btotal{
	display: inline;
}
.topMenu {
	background-color: #999999;
}

/*Top Menu*/
#topMenuBar {
width: 100%;
height: 2.5rem;
background-color: #1f262c;
text-align: center;
}
div {
display: block;
}



#caracterIcon {
width: 2.5rem;
height: 2.5rem;
display: inline;
margin-left: 0.2rem;
margin-right: 0.5rem;
background-color: #1f262c;
}

#caracterIcon > img {
width: 2.5rem;
height: 2.5rem;
display: inherit;
vertical-align: middle;
background-color: #1f262c;
}

#userName {
width: 15rem;
height: 2.5rem;
display: inline;	
margin-right:0.2rem;
background-color: #1f262c;
}

#userName > h1 {
font-size: 0.9rem;
display: inherit;
color: #ffffff;
-moz-user-select: none;
}

#score {
width: 5rem;
height: 7rem;
display: inline;
}

#score > h1 {
font-size:1rem;
display: inherit;
color: #ffffff;
-moz-user-select: none;
}

#scoreIcon {
width: 2.5rem;
height: 5rem;
display: inline;
background-color: #1f262c;
}

#scoreIcon > i {
width: 2rem;
height: 5rem;
color: #ffffff;
display:inherit;
}

#pageSelect {
display:inline;
width: auto;
height:7rem;
padding: 0.1rem;
text-align: center;
line-height:3rem;
}

#life {
width:2.5rem;
height:2.5rem;
display: inherit;
}

#life > i {
width:2rem;
height:2rem;
background-color: #1f262c;
display: inline;
}

#life:active {
color: #af543e;
}

#health {
width:2rem;
height:2rem;
display: inherit;
}

#health > i{
width:2rem;
height:2rem;
background-color: #1f262c;
display: inline;
}

#health:active {
color: #af543e;
}

#range {
width:2rem;
height:2rem;
display: inherit;
}

#range > i{
width:2rem;
height:2rem;
background-color: #1f262c;
display: inline;
}

#range:active {
color: #af543e;
}

#bills {
width:2rem;
height:2rem;
display: inherit;
}

#bills > i {
width:2rem;
height:2rem;
background-color: #1f262c;
display: inline;
}

#bills:active {
color: #af543e;
}

#scoreWrapper {
float:right;
display:inline;
width:auto;
position:relative;
top: 0.5rem;
margin-left:0.1rem;

}

#logoWrapper {
display:inline;
float:left;
}

a:visited {
color: #FFFFFF;
text-decoration: none;
}

a:link {
color:#FFFFFF;
text-decoration: none;
}

input[id=score_val]{
	background-color:#1f262c;
	color:white;
	width:4 rem;
	
}
.menut{
	background-color:#22b573;
	margin:2rem solid black;
	height:3rem;
	width: 100%;
	
	display:inline-block;
	
	
	

	
}
.color{
	background-color:#FFEBD6;
}
.white{
	background-color:white;
}
.white input{
	background-color:white;
	border:none;
	border-bottom:1px solid #1F262C;
}
.color input{
	background-color: #FFEBD6;
	border:none;
	border-bottom:1px solid #1F262C;
}
ul li{
	height:1rem;
	
	
}
ul li i{
	padding-right:0rem;
	padding-left:0rem;
	height:0rem;
	
}
input[id=scoreDisplay]{
	background-color:#1f262c;
	color:white;
	width:2em;
	
}
ul{
	
	margin-left:2rem;
}
li{
	display: inline-block;
}
li i{
	height:1rem;
	widht:0rem;
}
li img{
	width:2rem;
}

#plus{
	width:50%;
	text-align:center;
}
#sadRobot{
	width:50%;
	text-align: center;
}

.green{
	color:green;
}
#ListItem{
	border: 1px solid black;
}
.InputField{
	display: inline-block;
width: 5rem;
margin-left: -3rem;
margin-top: 1rem;
padding-left: 1rem;
margin-right: 1rem;

margin-top: 1rem
}
#red{
	border-radius: 100%;
background-color: #F00;
width: 1.2rem;
height: 1.2rem;
margin-left: 2.3rem;
margin-top: -0.8rem;
box-shadow: 6px 2px 7px #888;
font-size: 1rem;
text-align: center;
}
#FixedListItem{
	display:block;
	font-size: 1rem;
	padding-bottom:0.5rem;

}
.FixedListItemClass{
	display:inline-block;
}
#dollar{
	padding:1rem;
	margin-left:1rem;
}
.headerList{
	font-size: 0.8rem;
margin-bottom: 1rem;
margin-left: -3rem;
margin-right: 3rem;
padding-left: 1rem;
background-color: orange;
text-align: center;
padding: 0.5rem;
font-style: Arial;
font-family: Arial;
}
#TotalBills{
	background-color: #FFEBD6;
width: 3rem;
font-size: 1rem;
text-align: center;
border: none;
}
#SubButton{
border-radius: 16%;
	background-color:#00ADAD;
	padding:0.5rem;
	    margin-right: 2rem;
    margin-left: 6rem;
    margin-top: 1rem;

}
#PayButton{
border-radius: 16%;
	background-color:#008000;
	padding:0.5rem;
	
}
.FixedLi{
	display: inline;
padding: 3rem;
margin-left: -5rem;
	
}
